# Backend
backend/.env
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/

# AI Service
ai-service/chroma_db/
ai-service/chroma_db_5e/
ai-service/books/
ai-service/__pycache__/
ai-service/**/__pycache__/
ai-service/*.pyc
ai-service/**/*.pyc
ai-service/.pytest_cache/